$fontSize: 14px;

*{
  font-family: 'Inter';
}

.overlay {
  position: fixed;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 23, 30, 0.8);
  z-index: 999;
  cursor: pointer;
}

.modalWrapper{
  display: none;
  position: absolute;
  margin: 5% 40%;
  width: 430px;
  height: 680px;
  background: #FFFFFF;
  text-align: center;
  border-radius: 3px;
}

.close {
  position: absolute;
  right: 0;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: rgb(148, 147, 147);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.modalBox{
  padding: 64px;
}

.modalForm{
  font-size: $fontSize;
  display: flex;
  flex-direction: column;
  width: 100%;

  input{
    line-height: 14px;
    padding: 0 0 0 16px;
    width: 100%;
    height: 50px;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid lightgray;

  }

  .formBtn{
    display: flex;
    justify-content: center;
    font-size: $fontSize;
    color: #FFFFFF;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 24px;
    border-radius: 3px;
    background: #5382E7;

    img{
      margin-left: 3%;
    }
  }

}