$backgroundColor: #F8F8F8;
$buttonBackground: #5382E7;
$buttonFontcolor: #FFFFFF;
$backgroundColorWraps: rgba(255, 255, 255, 1);
$fontGraphColor: #2B3844;
$fontSizeH2: 18px;
$fontWeightH2: 600;
.container{
  width: 100vw;
  height: 100vh;
  background: $backgroundColor;
}
.wrapper{
  padding: 50px 50px ;
  .headWrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .headWrapperTitle{
      h1{
        font-weight: 700;
        margin: 0 0 8px 0;
        font-size: 36px;
      }

      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        opacity: 0.7;
      }

    }
    .wrapperButton{
      display: flex;
      width: 11vw;
      height: 5vh;
      background-color: $buttonBackground;
      border-radius: 3px;
      color: $buttonFontcolor;
      align-items: center;
      font-size: 14px;
      justify-content: center;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      cursor: pointer;

      .buttonText{
        margin-left: 5px;
      }
    }
  }
  .mainWrap{
    display: grid;
    width: 100%;
    grid-template-areas:
            "day overview overview"
            "total overview overview"
            "total overview overview ";
    grid-gap: 30px;
    grid-template-rows: 60% 1fr 30px;
    grid-template-columns: 40% 1fr;
    margin-top: 40px;
    color: $fontGraphColor;
    height: 70vh;

    .saleDay{
      grid-area: day;
      background-color: $backgroundColorWraps;

      h2{
        padding: 20px 0 0 30px;
        font-size: $fontSizeH2;
        font-weight: $fontWeightH2;

      }
      .ovalDiagram{
        display: flex;
        align-items: center;
        margin: 20% 0 0 5%;
        .analyticList{
          font-size: 12px;
          right: 0;
          height: 20%;
          list-style: none;
          padding: 0 50px 0 60%;
          .analyticItem{
            display: flex;
            width: 100%;
            font-size: 13px;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(227, 225, 225, 0.3);

          }
        }
      }
    }
    .saleTotal{
      grid-area: total;
      background-color: $backgroundColorWraps;
      h2{

        padding: 20px 0 0 30px;
        font-size: $fontSizeH2;
        font-weight: $fontWeightH2;
      }
      .vectorDiagram{
        margin-top: 24px;
        justify-content: center;
        text-align: center;
        :first-child{
          position: absolute;
          width: 70%;
          height: 100px;
        }
        img{
          width: 90%;
        }
        p{
          position: absolute;
          margin: 6% 12%;
          font-size: 24px;
          font-weight: $fontWeightH2;
        }
      }
    }
    .saleOverview{
      grid-area: overview;
      background-color: $backgroundColorWraps;
      font-size: $fontSizeH2;
      font-weight: $fontWeightH2;
      h2{
        padding: 20px 0 0 30px;
        font-size: $fontSizeH2;
        font-weight: $fontWeightH2;
      }
      p{
        padding: 8px 0 0 30px;
        font-weight: 400;
        font-size: 12px;
      }
    }
  }
}
