$backgroundColor: #F8F8F8;
$buttonBackground: #5382E7;
$buttonFontcolor: #FFFFFF;
$backgroundColorWraps: rgba(255, 255, 255, 1);
$fontGraphColor: #2B3844;
$fontSizeH2: 18px;
$fontWeightH2: 600;

.container{
  width: 100vw;
  height: 100vh;
  background: $backgroundColor;
}
.wrapper {
  padding: 50px 50px;

  .headWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .headWrapperTitle {
      h1 {
        font-weight: 700;
        margin: 0 0 8px 0;
        font-size: 36px;
      }

      p {
        color:$fontGraphColor ;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        opacity: 0.7;
      }
    }

    .wrapperButton {
      display: flex;
      width: 11vw;
      background-color: $buttonBackground;
      border-radius: 3px;
      color: $buttonFontcolor;
      align-items: center;
      font-size: 14px;
      justify-content: center;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      max-width: 201px;
      max-height: 52px;

      .buttonText {
        margin-left: 5px;
      }
    }
  }
}
  .productsListMenus{
    display: flex;
    min-height: 54px;
    justify-content: space-between;
    color: #FFFFFF;
    background: #2B3844;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    border-radius: 3px;
  }
  .productListMenu{
    width: 10%;
    list-style: none;
    text-align: center;
    justify-content: center;
  }
  .productItems{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    font-size: 13px;
    text-align: center;
    justify-content: space-between;
    color: rgba(43, 56, 68, 0.7)
  }
  .productItem{
    list-style: none;
    width: 10%;
    text-align: center;
  }
  .productItems:nth-child(odd){
    background: #FFFFFF;
  }
  .productItem:last-child{
    display: flex;
    justify-content: center;
  }
  .button{
    color:#5382E7;
    display: flex;
    width: 15vw;
    background: rgba(83, 130, 231, 0.1);
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
     :last-child{
      background: none;
    }
  }

