$titleFontColor: #2B3844;
$iconFontColor: #FFFFFF;
$iconBackgroundColor: #5382E7;

.container{
  width: 18%;
  max-width: 274px;
  min-width: 200px;
  height: 100vh;
  .logoWrap{
    display: flex;
    padding: 40px 0 60px 0;
    align-items: center;
    justify-content: center;
    color: $iconFontColor;
    text-transform: uppercase;
    .logoIconText{
      display: block;
      color: black;
    }
    .logoIconWrap{
      display: flex;
      width: 48px;
      height: 26px;
      background: $iconBackgroundColor;
      margin-left: 10px;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
    }
  }
  .navWrap{
    height: 75vh;
    .navList{
      .navItem{
        position: relative;
        display: flex;
        align-items: center;
        height: 6vh;
        &:hover{
          background:rgba(83, 130, 231, 0.04) ;
          border-right: 2px solid $iconBackgroundColor;
          filter:
           invert(0.5)
           sepia(1)
           hue-rotate(200deg)
           saturate(4)
           brightness(1);
        }
        .navIcon{
          padding-left: 30px;
        }
        .navText{
          margin-left: 10px;
          border: none;
          color: #a2aab1;
          text-decoration: none;
        }
      }
    }
  }
  a{
    text-decoration: none;
  }
  .loginWrap {
    margin: 0 30px 0 30px;
  }

}

.loginElement{
  margin-top: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  img,p{
    color: #a2aab1;
  }
  p{
    margin-left: 9px;
  }
  img{
    filter:
    invert(0.5)
    sepia(1)
    grayscale(100%)
  }
}